.text-channel-container {
    background-color: rgb(54, 57, 63);
    width: calc(100vw - 527px);
    height: 100vh;
    /* height: calc(100vh + 3px); */
}

.text-channel-title {
    height: 50px;
    /* border:2px solid black; */
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: white;
    font-family: Ginto;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid rgb(42, 44, 50);
}

.text-channel-title i {
    color: rgb(142, 146, 151);
    margin-right: 10px;
}

.text-channel-content {
    display: flex;
    flex-direction: column;
    /* justify-content: end; */
    /* border: 1px solid red; */
    height: calc(100vh - 80px - 50px);
    /* height: 730px; */
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: auto;
}

/* .direct-message-chat-box .fix {
    flex: 1 1 auto;
} */

.text-channel-content > :first-child{
    margin-top: auto !important;
}
.text-channel-content::-webkit-scrollbar {
    width: 8px;
}

.text-channel-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.text-channel-content::-webkit-scrollbar-thumb {
    background: rgb(32, 34, 37);
    border-radius: 10px;
}



.text {
    /* border:2px solid blue; */
    display: flex;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    flex-direction: row;
    align-items: center;
}

.text-left {
    display: flex;
    align-items: center;
}

.text-right {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
}

.text-right-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-family: Ginto;
    font-size: 16px;

}

.text img {
    width: 45px;
    height: 45px;
    border-radius: 30px;
    object-fit: cover;
}

.text-channel-input {
    /* border: 1px solid purple; */
    height: 75px;
    display: flex;
    align-items: center;
    padding-left:20px;
    padding-right:20px;
}
.text-channel-input input{
    background-color: rgb(64,68,75);
    width: calc(100vw - 390px);
    height: 45px;
    border:none;
    border-radius:10px;
    padding-left:10px;
    padding-right:10px;
    color:white;
    font-family: Ginto;
    font-size:14px;
    outline:none;
}
.more-than-24,
.less-than-24 {
    color: rgb(163, 162, 163);
    font-family: Ginto;
    font-size: 16px;
    display: flex;
    align-items: center;
    width: 70px;
}

.text-right-bottom {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    margin-top: 5px;
    /* border: 1px solid blue; */
    height: auto;
    width: calc(100vw - 650px);
    max-width: calc(100vw - 450px);
    overflow-wrap: break-word;
    line-height: 2;
}
