@font-face{
    font-family:GintoBold;
    src: url("../../../public/ABCGintoNormal-Bold-Trial.woff2")
}


.single-server-container{

    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.hover-bubble{
    position: absolute;
    left: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* animation-duration: 2s;
    animation-name: hoverBubble; */
}

/* @keyframes hoverBubble {
    from{
        left:0px
    }
    to{
        left:90px
    }
} */
.little-arrow{
    transform:rotate(45deg);
    width: 30px;
    height:30px;
    z-index:0;
    background-color: black;
    position: absolute;

}
.single-server-hover{
    background-color: black;
    z-index:1;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-family: GintoBold;
    font-size: 16px;
}
.single-your-server{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border:none;
    border-radius: 30px;
    background-color: transparent;

}
.single-your-server img{
    width: 50px;
    height:50px;
    border-radius: 30px;
    transition: border-radius .5s;
}
.single-your-server img:hover{
    border-radius:10px
}
.single-your-server:disabled{
    pointer-events: none;
    opacity: 0.3;
}
