@font-face{
    font-family:Ginto;
    src: url("../../../public/ABCGintoNormal-Regular-Trial.woff2")
}



.invite-people-modal-container{
    display: flex;
    flex-direction:column;
    width: 425px;
    height: 400px;
    overflow: none;

    background-color: rgb(54,57,63);
    border-radius: 5px;


}
.invite-people-modal-title{
    padding-left: 20px;
    padding-top:20px;
    font-family:GintoBold;
    color:white;
    font-size: 18px;
    padding-bottom:20px;
    border-bottom: 1px solid rgb(40,41,46);
}

.invite-friends-div{
    color:white;
    font-family: Ginto;

}
.individual-invite-friend{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-top: 20px;
    justify-content: space-between;
    padding-right:20px;
}

.individual-invite-friend img{
    width:50px;
    height:50px;
    border-radius:30px;
    object-fit: cover;
}
.individual-invite-left{
    display: flex;
    align-items: center;
}
.individual-friend-modal-image{
    margin-right:20px;
    display: flex;
    align-items: center;
}
.individual-friend-modal-name{
    display: flex;
    align-items: center;
}
.individual-invite-friend > div{
    display: flex;
    align-items: center;
}

.invite-friends-div{
    display: flex;
    flex-direction:column;
    overflow-y:auto;
}
.individual-invite-right{
    display: flex;
    align-items: center;
}
.individual-invite-right button{
    border: 1px solid rgb(59,165,93);
    cursor: pointer;
    background-color: transparent;
    color:white;
    font-family:Ginto;
    border-radius:5px;
    width: 80px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.individual-invite-right button:hover{
    background-color: rgb(59,165,93);
}
