.login-page{
    height:100vh;
}
.login-page img{
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    z-index:0;
}
.login-container{
    z-index:1;

    border-radius:10px;
    background-color: rgb(54,57,63);
    width: 485px;
    height: auto;

    position: absolute;
    bottom: calc(100vh/4);
    left: calc((100vw - 500px) /2);
    padding:32px;
    display: flex;
    flex-direction: column;
}
.login-title{
    /* border:2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-title-top{
    font-family:GintoBold;
    color:white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom:10px;
}
.login-title-bottom{
    font-family:Ginto;
    color:rgb(154,156,160);
    padding-bottom:10px;
}
.login-form{
    display: flex;
    flex-direction: column;

}
.login-username-field{
    display: flex;
    flex-direction: column;
    font-family: GintoBold;
    color:rgb(154,156,160);
    font-size:12px;

}
.login-username-field input{
    margin-top:10px;
    height: 40px;
    background-color:rgb(32,34,37);
    font-family:Ginto;
    color:rgb(154,156,160);
    font-size: 14px;
    outline:none;
    border:none;
    border-radius: 5px;
    padding-left:10px;
    padding-right:10px;
}

.login-password-field{
    display: flex;
    flex-direction: column;
    font-family: GintoBold;
    color:rgb(154,156,160);
    font-size:12px;
    margin-top:20px;
}
.login-password-field input{
    margin-top:10px;
    height: 40px;
    background-color:rgb(32,34,37);
    font-family:Ginto;
    color:rgb(154,156,160);
    font-size: 14px;
    outline:none;
    border:none;
    border-radius: 5px;
    padding-left:10px;
    padding-right:10px;
}

/* Change the white to any color */
.login-username-field input:-webkit-autofill,
.login-username-field input:-webkit-autofill:hover,
.login-username-field input:-webkit-autofill:focus,
.login-username-field input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.login-container button{
    background-color: rgb(88,101,242);
    margin-top: 40px;
    height: 50px;
    font-family: Ginto;
    color:white;
    font-size: 16px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}
.signup-login-link a{
    text-decoration: none;
    color: rgb(9,155,213);
    font-size:12px;

}
.login-bottom{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    color:rgb(96,100,107);
    font-family: Ginto;
    font-size: 12px;
    justify-content: space-between;
    align-items: center;
}
.login-bottom-left{
    display: flex;
    flex-direction: row;
}
.login-bottom-right button{
    margin:0px;
    height:40px;
    cursor: pointer;
}
.error-list{
    list-style-type: none;
    padding:0px;
    font-family:Ginto;
    color:white;
}


.menu-item,
 .menu-open-button {
    background: #EEEEEE;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    position: absolute;
    color: #FFFFFF;
    text-align: center;
    line-height: 80px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
 }

 a {
    text-decoration:none;
    font-size:10px;
    color: inherit;
 }

 .menu-open {
    display: none;
 }

 .fa-github {
     z-index:10;
    font-size:80px;
    color:#8E8E8E;
    display: block;
}



#github-menu {
    margin: auto;
    position: absolute;
    float:right;
    left:700px;
    bottom: 200px;
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    width: 80px;
    height: 80px;
    /* text-align: center; */
    box-sizing: border-box;
    /* font-size: 26px; */
 }



 .menu-open-button {
    z-index: 2;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
 }

 .menu-open-button:hover {
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
 }

 .menu-open:checked + .menu-open-button {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
 }

 .menu-open:checked ~ .menu-item {
    -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
 }

 .menu-open:checked ~ .menu-item:nth-child(3) {
    transition-duration: 180ms;
    -webkit-transition-duration: 180ms;
    -webkit-transform: translate3d(0.08361px, -104.99997px, 0);
    transform: translate3d(0.08361px, -104.99997px, 0);
 }

 .menu-open:checked ~ .menu-item:nth-child(4) {
    transition-duration: 280ms;
    -webkit-transition-duration: 280ms;
    -webkit-transform: translate3d(90.9466px, -52.47586px, 0);
    transform: translate3d(90.9466px, -52.47586px, 0);
 }

 .menu-open:checked ~ .menu-item:nth-child(5) {
    transition-duration: 380ms;
    -webkit-transition-duration: 380ms;
    -webkit-transform: translate3d(90.9466px, 52.47586px, 0);
    transform: translate3d(90.9466px, 52.47586px, 0);
 }

 .menu-open:checked ~ .menu-item:nth-child(6) {
    transition-duration: 480ms;
    -webkit-transition-duration: 480ms;
    -webkit-transform: translate3d(0.08361px, 104.99997px, 0);
    transform: translate3d(0.08361px, 104.99997px, 0);
 }

 .menu-open:checked ~ .menu-item:nth-child(7) {
    transition-duration: 580ms;
    -webkit-transition-duration: 580ms;
    -webkit-transform: translate3d(-90.86291px, 52.62064px, 0);
    transform: translate3d(-90.86291px, 52.62064px, 0);
 }

 .menu-open:checked ~ .menu-item:nth-child(8) {
    transition-duration: 680ms;
    -webkit-transition-duration: 680ms;
    -webkit-transform: translate3d(-91.03006px, -52.33095px, 0);
    transform: translate3d(-91.03006px, -52.33095px, 0);
 }

 .menu-open:checked ~ .menu-item:nth-child(9) {
    transition-duration: 780ms;
    -webkit-transition-duration: 780ms;
    -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
    transform: translate3d(-0.25084px, -104.9997px, 0);
 }

 .woo {
    background-color: #669AE1;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }

 .woo:hover {
    color: #1666d6;
    text-shadow: none;
 }



 /*about linked*/
 .menu-itemli,
 .menu-open-buttonli {
    background: #EEEEEE;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    position: absolute;
    color: #FFFFFF;
    text-align: center;
    line-height: 80px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
 }



a {
    text-decoration:none;
    font-size:10px;
    color: inherit;
 }

 .menu-openli {
    display: none;
 }


 .fa-linkedin {
    top:10px;
    right:8px;
    z-index:10;
    font-size:65px;
    color:#8E8E8E;
    position: absolute;
 }

 #linked-in-menu {
    margin: auto;
    position: absolute;

    float:right;
    right:625px;
    bottom: 200px;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
 }


 .menu-open-buttonli {
    z-index: 2;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
 }

 .menu-open-buttonli:hover {
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
 }

 .menu-openli:checked + .menu-open-buttonli {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
 }

 .menu-openli:checked ~ .menu-itemli {
    -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
 }

 .menu-openli:checked ~ .menu-itemli:nth-child(3) {
    transition-duration: 180ms;
    -webkit-transition-duration: 180ms;
    -webkit-transform: translate3d(0.08361px, -104.99997px, 0);
    transform: translate3d(0.08361px, -104.99997px, 0);
 }

 .menu-openli:checked ~ .menu-itemli:nth-child(4) {
    transition-duration: 280ms;
    -webkit-transition-duration: 280ms;
    -webkit-transform: translate3d(90.9466px, -52.47586px, 0);
    transform: translate3d(90.9466px, -52.47586px, 0);
 }

 .menu-openli:checked ~ .menu-itemli:nth-child(5) {
    transition-duration: 380ms;
    -webkit-transition-duration: 380ms;
    -webkit-transform: translate3d(90.9466px, 52.47586px, 0);
    transform: translate3d(90.9466px, 52.47586px, 0);
 }

 .menu-openli:checked ~ .menu-itemli:nth-child(6) {
    transition-duration: 480ms;
    -webkit-transition-duration: 480ms;
    -webkit-transform: translate3d(0.08361px, 104.99997px, 0);
    transform: translate3d(0.08361px, 104.99997px, 0);
 }

 .menu-openli:checked ~ .menu-itemli:nth-child(7) {
    transition-duration: 580ms;
    -webkit-transition-duration: 580ms;
    -webkit-transform: translate3d(-90.86291px, 52.62064px, 0);
    transform: translate3d(-90.86291px, 52.62064px, 0);
 }

 .menu-openli:checked ~ .menu-itemli:nth-child(8) {
    transition-duration: 680ms;
    -webkit-transition-duration: 680ms;
    -webkit-transform: translate3d(-91.03006px, -52.33095px, 0);
    transform: translate3d(-91.03006px, -52.33095px, 0);
 }

 .menu-openli:checked ~ .menu-itemli:nth-child(9) {
    transition-duration: 780ms;
    -webkit-transition-duration: 780ms;
    -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
    transform: translate3d(-0.25084px, -104.9997px, 0);
 }

 .wooli {
    background-color: #669AE1;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }

 .wooli:hover {
    color: #1666d6;
    text-shadow: none;
 }
