.serverBar{
    background-color: rgb(32,34,37);
    width: 70px;
    min-width:70px;
    min-height: 100vh;
    max-height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.serverBar::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.home-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    min-height:50px;
    background-color: rgb(88,101,242);
    border-radius:10px;
    margin-top: 10px;
    cursor:pointer;
    border:none;
}
.home-button i{
    font-size:30px;
    color:white;
}
.server-divider{
    background-color: rgb(54,57,63);
    min-height:2px;
    width: 50px;
    margin-top:10px;
    margin-bottom:5px;
}
.new-server{
    background-color: transparent;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.new-server-button{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border:none;
    border-radius: 30px;
    transition: border-radius .5s;
}
.new-server-button:hover{
    border-radius:10px
}
